.mainAbout {
    margin: 0rem auto;
    max-width: 1280px;
}


.aboutSection {
    width: 90%;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    grid-template:
        "I T"
        "S S"
        "S S";
}

.aboutImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.125rem;
    grid-area: I;
}

.textDiv {
    gap: .5rem;
    margin: 0;
    grid-area: T;
}

.textDiv h3 {
    font-size: 2.3rem;
    letter-spacing: 1px;
    color: #f4ffff;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
}

.textDiv p {
    color: #9eafb0;
    line-height: 1.5;
    font-family: 'Klee One', cursive;
    font-size: 1.1rem;
    font-weight: 600;
}

.skillsDiv {
    background-color: #2c3e50;
    border-radius: 0.75rem;
    grid-area: S;
}

.skillsDiv h5 {
    color: #e67e22;
    font-size: 2rem;
    padding: .8rem 2rem .5rem;
    letter-spacing: 1px;
    font-family: 'Ubuntu', sans-serif;
}

.iconsDiv {
    display: flex;
    justify-content: center;
}

.iconImgDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: .3rem;
}

.iconImgDiv img {
    width: 65%;
    background: #34495e;
    padding: .5rem;
    border-radius: 0.3rem;
    box-shadow: rgba(112, 122, 137, 0.278) 0px 5px 15px;
}

.iconImgDiv p {
    font-size: .8rem;
    color: #f4ffff;
    margin: .8rem;
}

@media screen and (max-width: 1000px) {

    .aboutSection {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .aboutImg {
        width: 85%;
        margin: 2rem auto;
    }

    .textDiv {
        display: grid;
        gap: 2rem;
        width: 85%;
        margin: auto;
    }

    @media screen and (max-width: 800px) {

        .iconsDiv {
            flex-wrap: wrap;
        }

        .textDiv {
            display: grid;
            gap: 2rem;
            width: 100%;
            margin: 0;
        }

        .iconImgDiv img {
            width: 4.5rem;
            margin: 0 .8rem;
            border-radius: 0.3rem;
            box-shadow: rgba(112, 122, 137, 0.278) 0px 5px 15px;
        }

        .iconImgDiv p {
            font-size: 1rem;
            color: aliceblue;
            margin: .8rem;
            text-align: center;
        }

        .aboutImg {
            width: 100%;
            object-fit: cover;
            border-radius: 1.125rem;
        }

        .textDiv h3 {
            margin: auto;
        }

        .textDiv p {
            font-size: 1.3rem;
        }

        @media screen and (max-width: 580px) {
            .textDiv h3 {
                text-align: center;
                margin-top: 1rem;
                font-size: 2rem;
                display: flex;
                flex-direction: column;
            }

            .skillsDiv h5 {
                font-size: 1rem;
            }

            .iconImgDiv p {
                font-size: .7rem;
            }

            .iconsDiv {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: center;
            }

            .iconImgDiv img {
                width: 3.3rem;
                border-radius: 0.3rem;
                padding: .3rem;
                box-shadow: rgba(112, 122, 137, 0.278) 0px 5px 15px;
            }

            .textDiv p {
                font-size: 1rem;
            }
        }
    }
}