 .contact_section {
     margin-top: 18rem;
 }

 .contact {
     max-width: 1280px;
     margin: 0 auto;
 }

 .contact_section h2 {
     color: #f4ffff;
     font-size: 2.8rem;
     font-family: 'Ubuntu', sans-serif;
     text-align: center;
     margin-top: 2.5rem;
     letter-spacing: .8px;
 }

 .conText {
     width: 60%;
     text-align: center;
     font-size: 1.5rem;
     font-weight: 600;
     color: #bdc3c7;
     margin: 1.5rem auto;
     font-family: 'Klee One', cursive;
 }

 .email_btn {
     font-size: 1.8rem;
     font-weight: 500;
     padding: 4px 8px;
     border: none;
     color: black;
     border-radius: 0.3125rem;
     background-color: #3c9bfa;
     align-self: center;
     text-justify: auto;
     cursor: pointer;
     font-family: 'Share Tech', sans-serif;
 }

 .linkedIn {
     color: #3c9bfa;
     font-size: 2.5rem;
     display: flex;
     align-items: center;
     cursor: pointer;
 }

 .email_btn:hover {
     border: 2px solid #e67e22;
     background-color: transparent;
     color: #e67e22;
 }

 .footer {
     justify-self: center;
     display: grid;
 }

 .i {
     margin: .4rem;
     font-size: 1.2rem;
     cursor: pointer;
     color: #f4ffff;
 }

 .social_div {
     justify-self: center;
 }

 .copyRight {
     justify-self: center;
     margin-bottom: .8rem;
     color: #728182b9;
 }

 .contactDiv {
     display: flex;
     justify-content: center;
     gap: 2rem;
     align-items: center;
     margin: 1.6rem auto 8rem;
 }

 @media screen and (max-width: 1300px) {

     @media screen and (max-width: 1000px) {

         .contact_section h2 {
             font-size: 1.8rem;
         }

         @media screen and (max-width: 800px) {

             .contact_section h2 {
                 color: #f4ffff;
                 font-size: 2rem;
             }

             .contact_section {
                 margin-top: 8rem;
             }

             @media screen and (max-width: 580px) {
                 .conText {
                     width: 90%;
                     font-size: 1.2rem;
                     margin: 1rem auto;
                 }
             }
         }
     }

 }